@media screen and (max-width: 576px) {
  /* header start */
  /* nav start */
  nav {
    width: 90%;
  }
  nav .ham-burger {
    display: block;
  }
  nav .ham-burger i {
    font-size: 30px;
    color: #fff;
  }
  nav ul li {
    display: none;
  }
  /* nav end */
  /* banner start */
  .banner {
    width: 90%;
    flex-direction: column;
    align-items: normal;
    gap: 4rem;
  }
  .banner-txt-box h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  /* banner end */
  /* header end */

  /* player section start */
  .players {
    width: 90%;
  }
  .players-box {
    grid-template-columns: 1fr;
  }
}
